/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: rgb(33, 175, 144);
  --ifm-color-primary-darker: rgb(31, 165, 136);
  --ifm-color-primary-darkest: rgb(26, 136, 112);
  --ifm-color-primary-light: rgb(70, 203, 174);
  --ifm-color-primary-lighter: rgb(102, 212, 189);
  --ifm-color-primary-lightest: rgb(146, 224, 208);
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

@font-face {
  font-family: "Bitter-Light";
  src: url('/static/Bitter-Light.ttf') format('truetype');
}

@font-face {
  font-family: "Bitter-Regular";
  src: url('/static/Bitter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Bitter-Thin";
  src: url('/static/Bitter-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "Bitter-Extra";
  src: url('/static/Bitter-ExtraLight.ttf') format('truetype');
}

@font-face {
  font-family: "OpenSans";
  src: url('/static/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto-Regular";
  src: url('/static/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto-Thin";
  src: url('/static/Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: "Roboto-Medium";
  src: url('/static/Roboto-Medium.ttf') format('truetype');
}

/*
:root {
  --ifm-font-family-monospace: "Roboto-Regular";
  --ifm-font-family-base: "Roboto-Regular"
}

h1 {
  font-family: Roboto-Medium;
}

h2, h3 {
  font-family: Roboto-Thin;
}

body, h4, h5, h6 {
  font-family: Roboto-Regular;
}*/
